<template>
  <button @click="toggleMode()">
    {{ isEditMode ? 'path mode' : 'edit mode' }}
  </button>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({ isEditMode: 'mode/getMode' }),
  },
  methods: {
    ...mapMutations({ toggleMode: 'mode/toggleMode' }),
  },
}
</script>

<style></style>
