<template>
  <div>
    <client-only>
      <StreetForm v-if="isEditMode" />
    </client-only>
    <GetPath />
    <ButtonModeToggle />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({ isEditMode: 'mode/getMode' }),
  },
}
</script>
