<template>
  <div>
    <div v-if="coordinates.startPoint != ' ' && coordinates.endPoint != ' '">
      <button
        @click="getItinerary(coordinates.startPoint, coordinates.endPoint)"
      >
        {{ $t('compute') }}
      </button>
      <p v-if="calculated === true">{{ $t('done') }}</p>
    </div>
    <p v-else>
      {{ $t('waiting') }}
    </p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    route: null,
    calculated: false,
  }),
  computed: {
    ...mapGetters({ coordinates: 'coordinates/getCoordinates' }),
  },
  methods: {
    async getItinerary(startPoint, endPoint) {
      console.log('get path: ' + startPoint, endPoint)
      // TODO : pass by gql, no axios in js
      const response = await this.$axios.get(
        `https://api.openrouteservice.org/v2/directions/driving-car?api_key=5b3ce3597851110001cf624864e956785a5644c28c15735bbcc3c5c3&start=${startPoint}&end=${endPoint}`
      )
      this.route = response.data.features[0].geometry.coordinates
      // console.log(startPoint, endPoint)
      console.log(this.route)
      this.calculated = true
      this.$router.push({})
    },
  },
}
</script>

<style></style>
