<template>
  <form name="loginForm" @submit.prevent="login()">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          v-model="form.username"
          name="username"
          class="input"
          type="text"
          required
          minlength="3"
          maxlength="15"
          placeholder="Username"
          @blur="validate('username')"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          v-model="form.password"
          name="password"
          class="input"
          type="password"
          required
          minlength="6"
          maxlength="64"
          placeholder="Password"
          @blur="validate('password')"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">Login</button>
      </p>
    </div>
  </form>
</template>

<script>
import { object, string } from 'yup'
import { mapMutations } from 'vuex'
import loginMutation from '~/gql/mutations/login.gql'

const loginFormSchema = object().shape({
  username: string().required(),
  password: string().required(),
})

export default {
  data: () => ({
    form: { username: '', password: '' },
    errors: { username: '', password: '' },
  }),
  methods: {
    ...mapMutations({ toggle: 'user/toggle' }),
    validate(field) {
      loginFormSchema
        .validateAt(field, this.form)
        .then(() => {
          this.errors[field] = ''
        })
        .catch((err) => {
          this.errors[err.path] = err.message
          console.log(this.errors)
        })
    },
    async login() {
      try {
        // clear any pre existing token from coookies
        await this.$apolloHelpers.onLogout()
        // run validate on the inputs
        loginFormSchema
          .validate(this.form, { abortEarly: false })
          .then(async () => {
            this.errors = {}
            // destructurate the token for easier access
            const {
              data: {
                login: { jwt },
              },
              // to the database !
            } = await this.$apollo.mutate({
              mutation: loginMutation,
              variables: {
                identifier: this.form.username,
                password: this.form.password,
              },
            })
            // set the jwt as a cookie
            await this.$apolloHelpers.onLogin(jwt)
            // TODO mutate store user state (isConnected)
            this.toggle()
          })
          .catch((err) => {
            err.inner.forEach((error) => {
              this.errors = { ...this.errors, [error.path]: error.message }
            })
          })
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style></style>
