<template>
  <button class="button is-success" @click="logOut()">Logout</button>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  methods: {
    ...mapMutations({ toggle: 'user/toggle' }),
    async logOut() {
      await this.$apolloHelpers.onLogout()
      this.toggle()
    },
  },
}
</script>
