<template>
  <div>
    <div class="roadgrade">
      <select v-model="selectedGrade">
        <option disabled value="">
          {{ $t('streetForm.placeHolders.grade') }}
        </option>
        <option>{{ $t('streetForm.options.grade.0') }}</option>
        <option>{{ $t('streetForm.options.grade.1') }}</option>
        <option>{{ $t('streetForm.options.grade.2') }}</option>
        <option>{{ $t('streetForm.options.grade.3') }}</option>
        <option>{{ $t('streetForm.options.grade.4') }}</option>
        <option>{{ $t('streetForm.options.grade.5') }}</option>
      </select>
      <span>Qualité : {{ selectedGrade }}</span>
    </div>
    <div class="roadtype">
      <select v-model="selectedType">
        <option disabled value="">
          {{ $t('streetForm.placeHolders.type') }}
        </option>
        <option>{{ $t('streetForm.options.type.asphalt') }}</option>
        <option>{{ $t('streetForm.options.type.concrete') }}</option>
        <option>{{ $t('streetForm.options.type.slabs') }}</option>
        <option>{{ $t('streetForm.options.type.pavingStones') }}</option>
        <option>{{ $t('streetForm.options.type.dirt') }}</option>
        <option>{{ $t('streetForm.options.type.gravel') }}</option>
      </select>
      <span>Type : {{ selectedType }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedGrade: '',
      selectedType: '',
    }
  },
}
</script>
