<template>
  <div class="parent">
    <div class="div1">
      <div id="mapid">
        <client-only>
          <l-map :zoom="zoom" :center="center" @click="setItinerary">
            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-marker
              v-for="marker in markers"
              :key="marker.id"
              :lat-lng="marker"
              @click="removeMarker(marker.id)"
            ></l-marker>
          </l-map>
        </client-only>
      </div>
    </div>
    <!-- <div
      class="div2"
      :class="{ pathMode: !isEditMode, editMode: isEditMode }"
      @click="highlight('path')"
    >
      <GetPath :start-point="start" :end-point="end" :highlight="pathMode" />
    </div>
    <div
      class="div2"
      :class="{ selected: editMode, unselected: pathMode }"
      @click="highlight('edit')"
    >
    </div> -->
    <GeneralForm class="div3" :class="isEditMode ? 'edit' : 'path'" />
    <div class="div4">
      <LoginForm v-if="!isConnected" />
      <LogoutButton v-else />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  data() {
    return {
      zoom: 13,
      center: null,
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      markers: [],
      start: ' ',
      end: ' ',
      editMode: false,
      pathMode: true,
    }
  },
  computed: {
    ...mapGetters({
      isConnected: 'user/getStatus',
      isEditMode: 'mode/getMode',
      coordinates: 'coordinates/getCoordinates',
    }),
  },
  mounted() {
    this.center = this.$L.latLng(48.8534, 2.3488)
  },
  methods: {
    ...mapMutations({
      toggleMode: 'mode/toggleMode',
      setCoordinates: 'coordinates/setCoordinates',
    }),
    removeMarker(index) {
      console.log(index)
      this.markers.splice(index, 2)
      this.start = ' '
      this.end = ' '
      this.setCoordinates({ startPoint: this.start, endPoint: this.end })
    },
    setItinerary(event) {
      if (this.markers.length === 0) {
        this.markers.push(event.latlng)
        this.start = this.markers[0].lng + ',' + this.markers[0].lat
        console.log(this.start)
      } else if (this.markers.length === 1) {
        this.markers.push(event.latlng)
        this.end = this.markers[1].lng + ',' + this.markers[1].lat
        console.log(this.end)
        this.setCoordinates({ startPoint: this.start, endPoint: this.end })
      } else {
        console.log('aas' + this.start)
        console.log('aae' + this.end)
      }
    },

    // highlight(formType) {
    //   if (formType === 'path') {
    //     this.pathMode = true
    //     this.editMode = false
    //   } else {
    //     this.pathMode = false
    //     this.editMode = true
    //   }
    //   console.log('path : ' + this.pathMode)
    //   console.log('edit : ' + this.editMode)
    // },
  },
}
</script>

<style>
#mapid {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: red;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 60vw;
  width: 100vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 {
  grid-area: 1 / 1 / 5 / 4;
}
.div2 {
  grid-area: 5 / 1 / 6 / 4;
}
.edit {
  background-color: green;
}
.path {
  background-color: blue;
}
.div3 {
  grid-area: 1 / 4 / 3 / 6;
}
.div4 {
  grid-area: 3 / 4 / 5 / 6;
  background-color: yellow;
}
</style>
